.src{
    width: width('src/images/luxun.jpg', 2);
    height: height('src/images/luxun.jpg', 2);
    background-size: size('src/images/luxun.jpg', 2);
    background-image: resolve("src/images/luxun.jpg");
    background-image: inline("src/images/luxun.jpg");
}